DJANGO_DEBUG=False
# You must configure the DJANGO_SECRET_KEY with
# a long, unique string of random characters.
#DJANGO_SECRET_KEY=""
DJANGO_HOSTS=example.org,www.example.org
DJANGO_DATABASE_ENGINE=django.db.backends.postgresql
DJANGO_DATABASE_HOST=database
#DJANGO_DATABASE_PORT=5432

POSTGRES_DB=EventAccess
POSTGRES_USER=EventAccess
POSTGRES_PASSWORD="Supersecret password CHANGEME!"
